
.jaspero__dialog-actions button.primary {
	background-color: #b71c1c !important;
	color:#FFF !important;
}
.jaspero__dialog{
	width: 40% !important;
	height: 30% !important;
	max-width: 50%!important;
}
.jaspero__dialog-content{
	padding-top: 34px !important;
	text-align: center !important;
}

.jaspero__dialog-title{
	text-align: center !important;
}