$mat-iron-black: (
  50: #a5b8c2,
  100: #7895a3,
  200: #5c7987,
  300: #3f535c,
  400: #32424a,
  500: #263238,
  600: #1a2226,
  700: #0d1114,
  800: #010101,
  900: #000000,
  A100: #a5b8c2,
  A200: #7895a3,
  A400: #32424a,
  A700: #0d1114,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);
 
$mat-iron-gray: (
  50: #f9fafb,
  100: #ccd7dc,
  200: #abbcc5,
  300: #819ba8,
  400: #6e8d9b,
  500: #607d8b,
  600: #536d79,
  700: #475c67,
  800: #3a4c55,
  900: #2e3c43,
  A100: #f9fafb,
  A200: #ccd7dc,
  A400: #6e8d9b,
  A700: #475c67,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $white-87-opacity,
  )
);
 
$mat-iron-red: (
  50: #ffffff,
  100: #fceae8,
  200: #f6bcb6,
  300: #ef8177,
  400: #eb675b,
  500: #e84e40,
  600: #e53525,
  700: #d22919,
  800: #b62316,
  900: #9b1e13,
  A100: #ffffff,
  A200: #fceae8,
  A400: #eb675b,
  A700: #d22919,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $white-87-opacity,
  )
);